.container
{
    max-width: 500 !important;
    margin: auto;
    margin-top: 2%;
    font-family: sans-serif;
    letter-spacing: 0.5px;

}
img
{
    max-width: 100%;
    border-radius: 20%;
}
.msg-header
{
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #007bff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.msg-header-img
{
    border-radius: 50%;
    width: 40px;
    margin-left: 5%;
    margin-top: 12px;
    float: left;
}
.active
{
    width: 150px;
    float: left;
    margin-top: 10px;
}
.active h4
{
    font-size: 20px;
    margin-left: 10px;
    color: #ffff;
}
.active h6
{
    font-size: 10px;
    margin-left: 10px;
    line-height: 2px;
    color: #fff;
}
.chat-page
{
    padding: 0 0 0 0;
}
.msg-inbox
{
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
}
.chats
{
    padding: 30px 15px 0 25px;
}

.msg-page
{
    height: 340px;
    overflow-y: auto;
}
.received-chats
{
    overflow: hidden;
    margin: 2px 0px;
}
.received-chats-img
{
    display: inline-block;
    width: 30px;
    float: left;
}
.received-msg
{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox
{
    width: 57%;
}
.received-msg-inbox p
{
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time
{
    color: #777;
    display: block;
    font-size: 10px;
    margin: 8px 0 0;
}
.outgoing-chats
{
    overflow: hidden;
    margin: 10px 10px;
}
.outgoing-chats-msg p
{
    background: #007bff none repeat scroll 0 0;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.outgoing-chats-msg
{
    float: left;
    width: 46%;
    margin-left: 45%;
}
.outgoing-chats-img
{
    display: inline-block;
    width: 30px;
    float: right;
}
.msg-bottom
{
    position: relative;
    height: 10%;
    background-color: #007bff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.input-group
{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    outline: none !important;
    border-radius: 20px;
    width:90% !important;
    background-color: none;
}
.form-control
{
    border:none !important;
    border-radius: 2px !important;
}
.input-group-text
{
    background: transparent !important;
    border: none !important;
}
.input-group-append
{
    margin-top: 10px;
}
.input-group .fa
{
    color: #007bff;
    float: right;
}
.left_text_box
{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 350px;
    height: 10px;
    border-color: none !important;
    border: none;
    outline: none;    
}
.left_text_box:focus
{
    border-color: none !important;
    box-shadow: none !important;
}
input[type=text]:focus {
    border: none;
  }
.send_button
{
    float: right;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 70;
    outline: none;
    border: none;
}